$smallFontSize: 14pt;
$mediumFontSize: 17pt;
$largeFontSize: 20pt;
$defaultPadding: 16pt;

.navbar {
    padding: 8pt 16pt 8pt 16pt;
}

.header {
    padding: 32pt 16pt 8pt 16pt;
}

.ravn-black {
    background-color: #121212;
}

.text-dark {
    color: #333333;
}

.text-white {
    color: #FFFFFF;
}

.text-light {
    color: #828282;
}

.text-emphasis {
    color: #EC5757;
    font-weight: bold;
}

.h2-default {
    color: rgba(0, 0, 0, 1);
    font-size: $mediumFontSize;
}

.h2-low-emphasis {
    color: rgba(0, 0, 0, 0.3);
    font-size: $mediumFontSize;
}

.h2-high-emphasis {
    color: rgba(235, 87, 87, 1);
    font-size: $mediumFontSize;
}

.p1-default {
    color: rgba(0, 0, 0, 1);
    font-size: $smallFontSize;
}

.p1-low-emphasis {
    color: rgba(0, 0, 0, 0.5);
    font-size: $smallFontSize;
}

.cell-person {
    border-bottom: 0.5pt solid rgba(0, 0, 0, 0.3);
    padding-top: $defaultPadding;
    padding-bottom: $defaultPadding;
}

.cell-notice {
    padding-top: $defaultPadding;
    padding-bottom: $defaultPadding;
    text-align: center;
}

.cell-loading {
    padding-top: $defaultPadding;
    padding-bottom: $defaultPadding;
    text-align: center;
}

.cell-data {
    border-bottom: 0.5pt solid rgba(0, 0, 0, 0.3);
    padding: $defaultPadding;
}

.fixed-section {
    border-right: 0.5pt solid rgba(0, 0, 0, 0.3);
    max-height: 100vh;
    overflow: auto;
}

.link {
    cursor: pointer;
    font-size: $largeFontSize;
}
